img {
    height: 50px;
    width: 50px;
}

body {
    background-color: #ebc6d9;
}

#crystalRow {
    padding: 25px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 100px;
    width: 602px;
    background-color: #4c1a34;
}

#instructiondiv {
    padding: 30px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 20;
    line-height: 30px;
    background-color: #4c1a34;
}

#title-div {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 25px;
    background-color: #4c1a34;
    text-align: center
}

#divcolor {
    background-color: #8c6278;
}

#Computer-generated-div {
    padding: 25px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 100px;
    width: 600px;
    background-color: #4c1a34;
}

#Computergenerateddivcolor {
    background-color: #62898c;
    height: 100px;
    width: 200px;
}

#divWincolor {
    background-color: #62898c;
    height: 100px;
    width: 150px;
}

.crystals-buttons {
    padding: 3px;
    margin-bottom: 2px;
    font-size: 15px;
    line-height: 50px;
    width: 500px;
    background-color: #4c1a34
}

#totaldiv {
    padding: 25px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 100px;
    width: 300px;
    background-color: #4c1a34;
}